<html>
    <head>
			<title>Searching..</title>
    </head>
    <body>
		<h1>Search an Artist</h1>
		<table>
			{{#each items}}
			<tr>
				<td><a href="{{href}}">{{name}}</a></td>
				<td><img src="{{images[3].url}}"></td>
			</tr>
		</table>
    </body>    
</html>    